@CHARSET "UTF-8";
body { 
	font: 100% normal Arial, Helvetica, sans-serif; 	
	background: #20673D;		
}
form, input, select, textarea {
			/*margin:10px 10px;
	margin: 0 auto; */
	margin: 0 auto; 
    width:86%;
	padding:0; 
	color:#ffffff;		
}
input,
textarea
{
	width: 100%;
	background-color: #2F3732;
	color: #ffffff;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 80px;
	padding: 5px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}
input[type=text],
input[type=number],
input[type=password],
input[type=email],
textarea:focus 
{
    width: 100%;
	background-color: #2F3732;
	color: #ffffff;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 80px;
	padding: 5px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=email]:focus,
textarea:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #a5cda5;
	background-color: #D4D7D4;
	color: black;
}
input.poleWymagane
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 4px solid #721404;
	background-color: #F9DDD7;
	color: black;
}

input[type=submit]
{
	width: 300px;
	background-color: #36b03c;
	font-size:20px;
	color: red;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

input[type=submit]:hover
{
	background-color: #37b93d;
}

input::-webkit-input-placeholder
{
    color: #999;

}
input:focus::-webkit-input-placeholder
{
    color: #428C42;
}
/* Firefox < 19 */
input:-moz-placeholder
{
    color: #999;
}
input:focus:-moz-placeholder
{
    color: #428C42;
}
/* Firefox > 19 */
input::-moz-placeholder
{
    color: #999;
}
input:focus::-moz-placeholder
{
    color: #428C42;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder
{
    color: #999;
}
input:focus:-ms-input-placeholder
{
    color: #428C42;
}




form label {
  display: inline-block;
  width: 50%;
}

form div {
  margin-bottom: 10px;
}

.error {
  color: red;
  margin-left: 5px;
}

label.error {
  display: inline;
}

.inputForm{
	color: blue;
}

.formClass{
	color: green;
}

.wymagane {
	background: red;
}
.selectClass{
	color:black;
}
